
<body>
   
    <div class="wrapper">
        <div class="section">
          <mat-toolbar class="toolbar">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            </button>
           <span><b>REGISTERED USERS</b> 
             </span>
            <span class="example-spacer"></span>
            <button  routerLink="/login"  mat-raised-button color="primary">
            LOGOUT
            </button>
          </mat-toolbar>
             
        </div>

        <div class="sidebar">
            <div class="profile">
                <img src="https://www.afrosoft.co.zw/Artboard4.png">
                <h3>Ajira</h3>
              
            </div>
            <ul>
                <li>
                    <a  routerLink="/login" class="active">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Members</span>
                    </a>
                </li>
                <li>
                    <a href="" routerLink="/create-issue" style="text-decoration: none;">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Create Issues</span> <!--This where the  issues will be created-->
                    </a>
                </li>
                <li>
                  <a href="" routerLink="/all-issues" style="text-decoration: none;" class="active">
                      <span class="icon"><i class="fas fa-user-friends"></i></span>
                      <span class="item"> All Issues</span> <!--This where the  issues will be created-->
                  </a>
              </li>
                <li>
                  <a href="" routerLink="/board" style="text-decoration: none;">
                      <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                      <span class="item">Board</span>
                  </a>
              </li>
            </ul>
        </div>
      <div class="members" style="padding-left: 230px;">
      
       <div class='container has-text-centered'>
        <div class='columns is-mobile is-centered'>
          <div class='column is-8'>
            
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="username" #input>
          </mat-form-field>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="datasource" matSort>
      
              <!-- ID Column -->
              <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FIRST NAME </th>
                <td mat-cell *matCellDef="let user"> {{user.firstname}} </td>
              </ng-container>
          
              <!-- Progress Column -->
              <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> LAST NAME </th>
                <td mat-cell *matCellDef="let user"> {{user.lastname}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>USERNAME </th>
                <td mat-cell *matCellDef="let user"> {{user.username}} </td>
              </ng-container>
          
              <!-- Fruit Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL </th>
                <td mat-cell *matCellDef="let user"> {{user.email}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>
          
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
        </div>
      </div>
      </div>
      </div>
        
    </div>
  <script>
       var hamburger = document.querySelector(".hamburger");
	hamburger.addEventListener("click", function(){
		document.querySelector("body").classList.toggle("active");
	})
  </script>
</body>