<div class="root">
    <mat-toolbar class="toolbar">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        </button>
       <span>
        <b> WELCOME TO THE TASK BOARD</b>
         </span>
        <span class="example-spacer"></span>
        <button  routerLink="/login"  mat-raised-button color="primary">
        LOGOUT
        </button>
      </mat-toolbar>
         

    <div class="board-wrapper">
        <div class="board-columns" cdkDropListGroup>
            <div class="board-column">

                <div class="column-title">
                   TO DO LIST
                </div>
                <div class="tasks-container"
                cdkDropList
                #todoList="cdkDropList"
             
                (cdkDropListDropped)="drop($event)">
                    <div class="task" *ngFor="let item of allIssues" cdkDrag>
                       {{item.description}}
                       <div class="box">
                        <button mat-icon-button color="primary" (click)="goToupdateIssue(item.id)" ><mat-icon>edit</mat-icon></button>
                        <button mat-icon-button color="warn" (click)="deleteTask(item.id)" ><mat-icon>delete</mat-icon></button>
                        <button mat-mini-fab color="primary" ><mat-icon>WD</mat-icon></button>
                      </div>
                    </div>
                </div>
            </div>
            <div class="board-column">
                <div class="column-title">
                    IN PROGRESS
                </div>
                <div class="tasks-container"
                cdkDropList
          
                (cdkDropListDropped)="drop($event)">
                    <div class="task" *ngFor="let item of done" cdkDrag>
                       {{item}}
                       <div class="box">
                        <button mat-icon-button color="primary" ><mat-icon>edit</mat-icon></button>
                        <button mat-icon-button color="warn" ><mat-icon>delete</mat-icon></button>
                      </div>
                    </div>
                </div>
            </div>
            <div class="board-column">
                <div class="column-title">
                    DONE
                </div>
                <div class="tasks-container"
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="done"
                (cdkDropListDropped)="drop($event)">
                    <div class="task" *ngFor="let item of done" cdkDrag>
                       {{item}}
                       <div class="box">
                        <button mat-icon-button color="primary" ><mat-icon>check_circle</mat-icon></button>
                        <button mat-icon-button color="warn" ><mat-icon>delete</mat-icon></button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
